<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @task.location %>
</p>

<p>
  <strong>Duration sec:</strong>
  <%= @task.duration_sec %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @task.value %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @task.comment %>
</p>

<p>
  <strong>Optional:</strong>
  <%= @task.optional %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
