<div class="col-12 col-md-6 col-lg-4">
  <div class="card">
    <div class="card-header <%= 'bg-secondary' if constructed_building.under_construction %>">
      <h4><%= link_to constructed_building.building.name, constructed_building.building %></h4>
      <div class="row">
        <div class="col-12 one-line">
          <%= icon 'dollar' %>
          <span class="number-format"><%= constructed_building.amount.to_i + constructed_building.building.cost.to_i %></span>
          <span class="float-right">
            <%= icon_link_to 'search', t(:show), constructed_building.building %>
            <% if constructed_building.under_construction || current_user.admin? %>
                <%= icon_link_to 'trash', t(:delete), group_constructed_building_path(@group, constructed_building), method: :delete, data: { confirm: t(:are_you_sure?) } %>
            <% end %>
          </span>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6"><%= "#{ConstructedBuilding.human_attribute_name(:constructed_at)}" %></div>
        <div class="col-6"><%= icon 'clock-o' %><%= " #{format_time(constructed_building.construction_time.localtime)}" %></div>
        <% if constructed_building.under_construction %>
          <div class="col-6"><%= "#{ConstructedBuilding.human_attribute_name(:remaining_construction_time)}" %></div>
          <div class="col-6"><%= distance_of_time_in_words_to_now(Time.now - constructed_building.remaining_construction_time.seconds) %></div>
        <% end %>
        <div class="col-6"><%= "#{Building.human_attribute_name(:inhabitants)}" %></div>
        <div class="col-6"><%= icon 'users' %><%= " #{constructed_building.building.inhabitants}" %></div>
        <div class="col-6"><%= "#{Building.human_attribute_name(:required_building)}" %></div>
        <% unless constructed_building.building.required_building.nil? %>
          <div class="col-6"><%= icon 'building' %><%= " #{constructed_building.building.required_building.name}" %></div>
        <% else %>
          <div class="col-6"><%= icon 'building' %><%= " #{t(:nothing)}" %></div>
        <% end %>
      </div>
    </div>
    <div class="card-footer">
      <% constructed_building.event_logs.each do |event_log| %>
        <div class="row">
          <div class="col-12">
            <%= "#{event_log.event.name} #{t(:at)} #{format_date_time(event_log.start.localtime)}" %>
          </div>
          <div class="col-12">
            <% if event_log.remaining_time > 0 %>
              <%= t(:remaining) %>
              <%= icon 'bomb', title: Event.human_attribute_name(:impact_percent) %>
              <span class="number-format"><%= "#{event_log.remaining_impact}" %></span><%="% / "%>
              <%= icon 'clock-o', title: Event.human_attribute_name(:duration) %>
              <%=" #{distance_of_time_in_words_to_now(Time.now - event_log.remaining_time)}" %>
            <% else %>
              <%= "#{t(:ended)} #{t(:at)} #{format_date_time(event_log.end.localtime)}" %>
            <% end %>
          </div>
          <div class="col-12">
            <%= t(:demage) %>
            <%= icon 'bomb', title: Event.human_attribute_name(:impact_percent) %>
            <%= "#{event_log.event.impact_percent}% / " %>
            <%= icon 'clock-o', title: Event.human_attribute_name(:duration) %>
            <%=" #{event_log.event.duration_min} #{t(:minutes)}" %>
          </div>
          <hr>
        </div>
      <% end %>
    </div>
  </div>
</div>