<div class="col-12">
  <div class="card">
    <div class="card-header bg-<%= group.building_ban ? 'danger' : 'light'%>">
      <span class="badge badge-info badge-pill float-right" title="<%= "#{group.game.start.localtime} - #{group.game.end.localtime}" %>">
        <%= group.game %>
      </span>
      <h4><%= group.name %></h4>
      <span class="badge badge-<%= group.building_ban ? 'danger' : 'info'%> badge-pill" title="<%= "#{group.game.start.localtime} - #{group.game.end.localtime}" %>">
        <%= "#{Group.human_attribute_name(:bauilding_ban)}: " %>
        <%= check_box_tag "building-ban-#{group.id}", group.building_ban, group.building_ban %>
      </span>
      <span class="float-right">
        <%= icon_link_to 'search', t(:show), group %>
        <%= icon_link_to 'pencil', t(:edit), edit_group_path(group) %>
        <%= icon_link_to 'trash', t(:delete), group, method: :delete, data: { confirm: t(:are_you_sure?) } %>
      </span>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6"><%= "#{Group.human_attribute_name(:email)}: #{group.email}" %></div>
        <div class="col-6"><%= "#{Group.human_attribute_name(:balance)}: " %><%= icon 'dollar' %><span class="number-format"><%= group.balance %></span></div>
        <div class="col-6"><%= "#{Group.human_attribute_name(:phone)}: #{group.phone}" %></div>
        <div class="col-6"><%= "#{Group.human_attribute_name(:population)}: " %><span class="number-format"><%= group.population %></div>
        <div class="col-6"></div>
        <div class="col-6"><%= "#{Group.human_attribute_name(:points)}: " %><span class="number-format"><%= group.points %></div>
        <div class="col-12"><%= group.comment %></div>
      </div>
    </div>
  </div>
</div>

<script>
    $('<%= "#building-ban-#{group.id}" %>').bind('change', function(){
        $.ajax({
            url: '<%= group_path(group.id) %>',
            type: 'PUT',
            data: {'group': {'building_ban': this.checked}}
        })
    })
</script>