<div class="col-12">
  <div class="card">
    <div class="card-header">
            <span class="badge badge-info badge-pill float-right" title="<%= "#{group.game.start.localtime} - #{group.game.end.localtime}" %>">
              <%= group.game %>
            </span>
      <h4><%= group.name %></h4>
      <span class="float-right">
              <%= icon_link_to 'search', t(:show), group %>
        <%= icon_link_to 'pencil', t(:edit), edit_group_path(group) %>
        <%= icon_link_to 'trash', t(:delete), group, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6"><%= "Email: #{group.email}" %></div>
        <div class="col-6"><%= "Telefon: #{group.phone}" %></div>
        <div class="col-12"><%= "Kontostand: #{group.balance}" %></div>
        <div class="col-12"><%= group.comment %></div>
      </div>
    </div>
  </div>
</div>