<h1><%= @game.name %></h1>
<p><strong>Start:</strong><%= @game.start %></p>
<p><strong>Duration:</strong><%= @game.end %></p>

<%= link_to 'Edit', edit_game_path(@game) %> |

<ul class="nav nav-tabs" id="gameTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="group-tab" data-toggle="tab" href="#group" role="tab" aria-controls="group" aria-selected="true">
      <%= Group.model_name.human(count: 2) %>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="event-tab" data-toggle="tab" href="#event" role="tab" aria-controls="event" aria-selected="false">
      <%= Event.model_name.human(count: 2) %>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="tasks-tab" data-toggle="tab" href="#tasks" role="tab" aria-controls="tasks" aria-selected="false">
      <%= Task.model_name.human(count: 2) %>
    </a>
  </li>
</ul>
<div class="tab-content" id="gameTabContent">
  <div class="tab-pane fade show active" id="group" role="tabpanel" aria-labelledby="group-tab">
    <div class="row">
      <% @game.groups.each do |group| %>
          <%= render group %>
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade" id="event" role="tabpanel" aria-labelledby="event-tab">
    <%= render 'events/events', partial: @events %>
  </div>
  <div class="tab-pane fade" id="tasks" role="tabpanel" aria-labelledby="tasks-tab">
    <%= render 'tasks/tasks', partial: @tasks %>
  </div>
</div>