<div class="col-12 col-md-6 col-lg-4">
  <div class="card">
    <div class="card-header">
      <h4><%= link_to building.name, building %></h4>
      <div class="row">
        <div class="col-12">
          <%= icon 'dollar' %>
          <span class="number-format"><%= building.cost %></span>
          <span class="float-right">
            <% unless (defined?(group)).nil? %>
              <% if building.can_build?(group.constructed_buildings) &&
                  @group.can_build?(building.cost) && !@group.building_ban %>
                <%= icon_link_to('cogs',
                                 t(:build),
                                 group_constructed_buildings_path(group_id: @group.id, building_id: building.id),
                                 method: :post) %>
              <% end %>
            <% end %>
            <%= icon_link_to 'search', t(:show), building %>
            <% if current_user.admin? %>
                <%= icon_link_to 'pencil', t(:edit), edit_building_path(building) %>
                <%= icon_link_to 'trash', t(:delete), building, method: :delete, data: { confirm: :are_you_sure? } %>
            <% end %>
          </span>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6"><%= "#{Building.human_attribute_name(:construction_duration)}" %></div>
        <div class="col-6"><%= icon 'clock-o' %><%= " #{building.construction_duration_min} #{t(:minutes)}" %></div>
        <div class="col-6"><%= "#{Building.human_attribute_name(:cost_per_hour)}" %></div>
        <div class="col-6"><%= icon 'dollar' %><span class="number-format"><%= building.cost_per_hour %></span></div>
        <div class="col-6"><%= "#{Building.human_attribute_name(:income_per_hour)}" %></div>
        <div class="col-6"><%= icon 'dollar' %><span class="number-format"><%= building.income_per_hour %></span></div>
        <div class="col-6"><%= "#{Building.human_attribute_name(:inhabitants)}" %></div>
        <div class="col-6"><%= icon 'users' %><%= " #{building.inhabitants}" %></div>
        <div class="col-6"><%= "#{Building.human_attribute_name(:required_building)}" %></div>
        <% unless building.required_building.nil? %>
          <div class="col-6"><%= icon 'building' %><%= " #{building.required_building.name}" %></div>
        <% else %>
          <div class="col-6"><%= icon 'building' %><%= " #{t(:nothing)}" %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>