<div class="row">
  <div class="col-8">
    <h1><%= Building.model_name.human(count: 2) %></h1>
  </div>
  <% if current_user.admin? %>
    <div class="col-4">
      <h6 class="float-right action-buttons">
        <%= icon_link_to 'plus', t(:new), new_building_path %>
      </h6>
    </div>
  <% end %>
</div>

<% @categories.each do |category| %>
    <div class="row">
      <div class="col-12">
        <div class="card card-border-less">
          <div class="card-header" style="background-color: <%= category.color %>; color: #ffffff">
            <h4 class="card-title"><%= category.name %></h4>
          </div>
          <div class="card-body">
            <div class="row">
            <%= render partial: 'building_list_item', collection: category.buildings, as: :building %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
