<div class="col-4">
  <div class="card">
    <div class="card-header">
      <div class="float-right">
        <% if current_user.admin? %>
          <%= check_box_tag "task-log-#{task_log.id}", task_log.done, task_log.done, :class => 'task_log_checkbox' %>
        <% elsif task_log.done %>
          <span class="badge badge-success badge-pill float-right" %>
            <%= icon 'check' %>
            <%= "#{t('task_log.done')}" %>
          </span>
        <% else %>
          <span class="badge badge-danger badge-pill float-right" %>
            <%= icon 'close' %>
            <%= "#{t('task_log.open')}" %>
          </span>
        <% end %>
        <br/>
        <% if task_log.task.optional %>
          <span class="badge badge-success badge-pill float-right" title="<%= "#{Task.human_attribute_name(:optional)}" %>">
            <%= "#{Task.human_attribute_name(:optional)}" %>
          </span>
        <% else %>
          <span class="badge badge-danger badge-pill float-right" title="<%= "#{Task.human_attribute_name(:optional)}" %>">
            <%= "#{Task.human_attribute_name(:obligation)}" %>
          </span>
        <% end %>
      </div>
      <h4><%= task_log.task.name %></h4>
      <div class="row">
        <div class="col-4">
          <%= icon 'dollar', title: "#{Event.human_attribute_name(:impact)}" %>
          <span class="number-format"><%= task_log.task.value %></span>
        </div>
        <div class="col-8">
          <%= icon 'clock-o', title: "#{Event.human_attribute_name(:duration)}" %>
          <%= "#{task_log.task.duration_min} #{t(:minutes)}" %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <% if task_log.started %>
            <%= task_log.task.description %>
          <% else %>
            <form action="<%= start_task_log_path %>" method="get">
              <input name="task_log_id" value="<%= task_log.id %>" hidden>
              <button type="submit" class="btn btn-default btn-sm pull-right">
                <%= t(:start_task) %>
              </button>
            </form>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('<%= "#task-log-#{task_log.id}" %>').bind('change', function(){
      $.ajax({
          url: '<%= group_task_log_path(task_log.group_id, task_log) %>',
          type: 'PUT',
          data: {'task_log': {'done': this.checked}}
      })
  })
</script>
